apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app: kuberhealthy
    prometheus: prometheus
    release: prometheus-operator
  name: kuberhealthy
  namespace: dev
spec:
  endpoints:
  - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
    interval: 15s
    port: http
  jobLabel: component
  namespaceSelector:
    matchNames:
    - dev
  selector:
    matchLabels:
      app: kuberhealthy
