apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kuberhealthy-daemonset-khcheck
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kuberhealthy-daemonset-khcheck
subjects:
- kind: ServiceAccount
  name: daemonset-khcheck
  namespace: dev
