apiVersion: comcast.github.io/v1
kind: KuberhealthyCheck
metadata:
  name: conda-store-http-check
  namespace: dev
spec:
  podSpec:
    containers:
    - env:
      - name: COUNT
        value: "5"
      - name: SECONDS
        value: "1"
      - name: PASSING_PERCENT
        value: "80"
      - name: CHECK_URL
        value: http://nebari-conda-store-server.dev:5000
      image: kuberhealthy/http-check:v1.5.0
      imagePullPolicy: IfNotPresent
      name: https
      resources:
        limits:
          cpu: 25m
        requests:
          cpu: 15m
          memory: 15Mi
    restartPolicy: Always
    terminationGracePeriodSeconds: 5
  runInterval: 5m
  timeout: 10m
